<nav class="auth-links" aria-label="Authentication links">
  <%- if controller_name != "sessions" %>
    <%= link_to "Back to sign in", new_user_session_path, class: "resource-form__subtle-link" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != "registrations" %>
    <%= link_to "Create an account", new_user_registration_path, class: "resource-form__subtle-link" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
    <%= link_to "Forgot your password?", new_user_password_path, class: "resource-form__subtle-link" %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <%= link_to "Resend confirmation instructions", new_user_confirmation_path, class: "resource-form__subtle-link" %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    <%= link_to "Resend unlock instructions", new_user_unlock_path, class: "resource-form__subtle-link" %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}",
                    omniauth_authorize_path(resource_name, provider),
                    class: "fantasy-button fantasy-button--secondary",
                    data: { turbo: false } %>
    <% end %>
  <% end %>
</nav>
