<%= content_body_frame do %>
  <h1>New Folder</h1>

  <p>
    Parent:
    <%= link_to @parent.name, folder_path(@parent) %>
  </p>

  <%= form_with model: [@parent, @folder] do |form| %>
    <% if @folder.errors.any? %>
      <div>
        <h2><%= pluralize(@folder.errors.count, "error") %> prevented this folder from being saved:</h2>
        <ul>
          <% @folder.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.submit "Create Folder" %>
    </div>
  <% end %>
<% end %>
