<div id="player-screen"
     class="player-screen-root"
     data-campaign-id="<%= @campaign.id %>"
     data-initial-image="<%= @current_image_url %>"
     data-image-title="<%= @current_image&.title %>"
     data-show-title="<%= @player_display.show_title %>"
     data-transition-type="<%= @player_display.transition_type %>"
     data-crossfade-duration="<%= @crossfade_duration %>"
     data-image-fit="<%= @player_display.image_fit %>"></div>
