<%= resource_form(
      record: @album,
      form_model: form_model,
      form_url: local_assigns[:form_url],
      kicker: "Album",
      title: @album.persisted? ? "Edit Album" : "New Album",
      cancel_path: cancel_path
    ) do |form| %>
  <div class="resource-form__field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "resource-form__input", autofocus: true %>
  </div>

  <div class="resource-form__field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "resource-form__input resource-form__textarea", rows: 6 %>
  </div>

  <%= resource_form_actions(form, record: @album, noun: "Album", cancel_path: cancel_path) %>
<% end %>
