<%= resource_form(
      record: @image,
      form_model: form_model,
      kicker: "Image",
      title: @image.persisted? ? "Edit Image" : "New Image",
      cancel_path: cancel_path
    ) do |form| %>
  <div class="resource-form__field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "resource-form__input", autofocus: true %>
  </div>

  <div class="resource-form__field">
    <%= form.label :notes, "Description" %>
    <%= form.text_area :notes, class: "resource-form__input resource-form__textarea", rows: 6 %>
  </div>

  <div class="resource-form__field">
    <%= form.label :file, "Image File" %>
    <% if @image.persisted? && @image.file.attached? %>
      <p class="resource-form__hint">Current file: <%= @image.file.filename.to_s %></p>
    <% end %>
    <%= form.file_field :file, class: "resource-form__input resource-form__file", accept: "image/*" %>
  </div>

  <div class="resource-form__field resource-form__field--checkbox">
    <label class="resource-form__checkbox">
      <%= form.check_box :show_title, class: "resource-form__checkbox-input" %>
      <span>Show title on player screen by default</span>
    </label>
  </div>

  <%= resource_form_actions(form, record: @image, noun: "Image", cancel_path: cancel_path) %>
<% end %>
